/*background*/
div#back {
  position: absolute;
  height: 422px;
  left: -357px;
  right: 0px;
  top: -50px;

  background: url("assets/background.jpg");
  background-position: top -200px right 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

/*navbar*/
div#navbar{
  position: absolute;
  height: 52px;
  left: 0px;
  right: 0px;
  top: 0px;

  background-color: white;
}

button.btnMenu{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Oxanium;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
button.btnMenu:hover{
  box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.84);
}

button#btnHome{
  position: absolute;
  width: 131px;
  height: 28px;
  left: 17px;
  top: 10px;
}

button#btnStar{
  position: absolute;
  width: 131px;
  height: 28px;
  left: 165px;
  top: 10px;
}

button#btnAccount{
  position: absolute;
  width: 116px;
  height: 28px;
  right: 218px;
  top: 12px;
}

button#btnLogin{
  position: absolute;
  width: 188px;
  height: 28px;
  right: 17px;
  top: 12px;
}

div#compOne{
  position: absolute;
  width: 258px;
  left: calc(50% - 258px/2);
  top: 0%;
  bottom: 0%;
}

div#logo{
  position: absolute;
  left: 0%;
  right: 61.63%;
  top: 0%;
  bottom: 5.77%;

  background-image: url("assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

div#title{
  position: absolute;
  left: 26.74%;
  right: 0%;
  top: 36.54%;
  bottom: 0%;

  background: url("assets/title.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/*filter*/

div#filterBack{
  position: absolute;
  width: 638px;
  height: 219px;
  left: calc(50% - 638px/2 - 1px);
  top: 160px;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

p#titleFilter{
  position: absolute;
  width: 159px;
  height: 22px;
  left: 21px;
  top: 10px;

  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 17.8182px;
  line-height: 22px;

  color: #000000;
}

select.selectFilter{
  background: #D3D3D3;
  box-shadow: 0px 5.09091px 5.09091px rgba(255, 0, 0, 0.25);
  border: none;
  border-radius: 3.81818px;
}

select.selectFilter:hover{
  box-shadow: 0px 4px 4px rgba(255, 0, 0, 0.84);
}

select#marqueSelect{
  position: absolute;
  height: 36px;
  left: 3.29%;
  right: 71%;
  top: 43px;
}

select#modeleSelect{
  position: absolute;
  height: 36px;
  left: 37.15%;
  right: 37.15%;
  top: 43px;
}

select#carburantSelect{
  position: absolute;
  height: 36px;
  left: 71%;
  right: 3.29%;
  top: 43px;
}

div#prixDiv{
  position: absolute;
  width: 130px;
  height: 20.63px;
  left: 38px;
  top: 129px;
}

div#kiloDiv{
  position: absolute;
  width: 130px;
  height: 20.63px;
  left: 254px;
  top: 129px;
}

div#dateDiv{
  position: absolute;
  width: 130px;
  height: 20.63px;
  left: 470px;
  top: 129px;
}
